/* -------------------
Font area 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ----------------
Common Styles 
-------------------*/


/* ---------------------
header styles 
------------------------*/
section.header-slider-area {
    background: #2D25A0;
    display: flex;
    justify-content: center;
}
.container {
    width: 1160px;
}
ul.main-nav {
    display: flex;
    padding-left: 0;
}

.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
}
ul.main-nav li {
    list-style: none;
    margin-right: 36px;
}
ul.main-nav li a, a.log-btn, a.slider-btn{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
}
.login-btn, .live-watch-btn {
    background: #E02C6D;
    padding: 10px 24px;
}
i.fas.fa-sign-in-alt {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
a.log-btn {
    padding-left: 6px;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 67px 0 86px;
}
.slider-title-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 7%;
}
h1.slider-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin-bottom: 27px;
}
i.fas.fa-arrow-right {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 7px;
}
img.football-kick {
    width: 556px;
}

/* ---------------------
Player profile style 
------------------------*/

section.player-profile {
    display: flex;
    justify-content: center;
    margin: 70px 0 165px;
}
.container.p-profile {
    width: 1100px;
}
.p-profile-details-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.single-profile {
    padding: 15px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.single-profile img {
    width: 315px;
}
h3.name {
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 16px 0 10px;
}
p.bio {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}

/* ---------------------
Footer area style 
------------------------*/
section.footer-area {
    display: flex;
    margin: 158px 0 63px;
    justify-content: center;
}
footer.container.footer {
    text-align: center;
}
img.footer-logo {
    width: 483px;
}
img.social-image {
    width: 32px;
    padding-right: 12px;
}
p.copyright-text {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}
