/* -------------------
Font area 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------------------
Variable Declaration
------------------------------ */
:root{
    --hover-cursor:pointer;
}


/* ---------------------
header styles 
------------------------*/
section.header-slider-area {
    background: #2D25A0;
    display: flex;
    justify-content: center;
}
.container {
    width: 1160px;
}
ul.main-nav {
    display: flex;
    padding-left: 0;
}
img.mobile-img {
    display: none;
}
.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
}
ul.main-nav li {
    list-style: none;
    margin-right: 36px;
}
ul.main-nav li a, a.log-btn, a.slider-btn{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
}
.login-btn, .live-watch-btn {
    background: #E02C6D;
    padding: 10px 24px;
}

.login-btn:hover, .live-watch-btn:hover {
    cursor: var(--hover-cursor);
    background: #c71154;
    transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
}

.live-watch-btn:hover i.fas.fa-arrow-right {
    transform: translateX(0.8em);
    transition: transform 0.9s ease-in-out;
}
i.fas.fa-sign-in-alt {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
a.log-btn {
    padding-left: 6px;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 49px 0 86px;
}
.slider-title-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 7%;
}
h1.slider-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin-bottom: 27px;
}
i.fas.fa-arrow-right {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 7px;
}
img.football-kick {
    width: 556px;
}
img.football-kick:hover {
    cursor: var(--hover-cursor);
    filter: blur(0.1px) saturate(2);
    transition: transform 2s ease-in-out;
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
}

/* ---------------------
Player profile style 
------------------------*/

section.player-profile {
    display: flex;
    justify-content: center;
    margin: 70px 0 165px;
}
.container.p-profile {
    width: 1100px;
}
.p-profile-details-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.single-profile {
    padding: 15px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    overflow: hidden;
}
.single-profile img {
    width: 315px;
}
.single-profile img:hover {
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}
h3.name {
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 16px 0 10px;
}
p.bio {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
/* ---------------------
Joursey area style 
------------------------*/

section.joursey-area {
    display: flex;
    justify-content: center;
    margin: 0 0 100px;
}
.joursey-area-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2.joursey-titile {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: #18191F;
}
.joursey-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23px;
    margin-top: 40px;
}
img.joursey-img:hover {
    cursor: var(--hover-cursor);
    filter: blur(1px) saturate(1);
    transition: box-shadow 0.3s ease-in;
    position: relative;
    top: -10px;
    bottom: 0;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.next-icon {
    display: flex;
}

i.fas.fa-long-arrow-alt-left {
    border: 1px #999 solid;
    border-radius: 3px;
    color: #999;
    font-size: 21px;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 4px;
}
i.fas.fa-long-arrow-alt-left:hover, i.fas.fa-long-arrow-alt-right:hover {
    cursor: var(--hover-cursor);
}
i.fas.fa-long-arrow-alt-right {
    border: 1px #999 solid;
    border-radius: 3px;
    color: #999;
    font-size: 21px;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
/* ---------------------
Sponsor area style 
------------------------*/
section.clients-area {
    background: #000000;
    display: flex;
    justify-content: center;
}
.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 100px;
}

/* ---------------------
Footer area style 
------------------------*/
section.footer-area {
    display: flex;
    margin: 158px 0 63px;
    justify-content: center;
}
footer.container.footer {
    text-align: center;
}
img.footer-logo {
    width: 483px;
}
img.social-image {
    width: 32px;
    padding-right: 12px;
}
p.copyright-text {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}

/* ---------------------
Responsive css style 
------------------------*/
@media only screen and (max-width: 767px) {
   
    ul.main-nav {
        display: none;
    }
    .container {
        width: 100%;
        padding: 0 15px;
    }
    img.mobile-img {
        display: block;
    }
    img.mobile-img {
        width: 88%;
    }
    .login-btn {
        padding: 7px 18px;
    }
    ul.main-nav li a, a.log-btn, a.slider-btn {
        font-size: 12px;
        line-height: 18px;
    }
    i.fas.fa-sign-in-alt {
        font-size: 12px;
    }
    h1.slider-title {
        font-size: 36px;
        line-height: 50px;
    }
    .slider {
        margin: 22px 0 61px;
        flex-direction: column;
    }
    img.football-kick {
        width: 100%;
        margin-top: 50px;
    }
    section.player-profile {
        margin: 47px 0 60px;
    }
    .container.p-profile {
        width: 100%;
    }
    .single-profile {
        overflow: initial;
    }
    .single-profile img {
        width: 100%;
    }
    .p-profile-details-block {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }
    section.joursey-area {
        margin: 0 0 56px;
    }
    img.joursey-img {
        width: 100%;
    }
    .joursey-area-title {
        flex-direction: column;
    }
    h2.joursey-titile {
        font-size: 35px;
        line-height: 48px;
        margin-top: 0;
        text-align: center;
    }
    .joursey-items {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        margin-top: 27px;
    }
    .clients {
        flex-direction: column;
        margin: 30px 0 30px;
    }
    img.spons-img {
        margin: 15px 0;
    }
    img.footer-logo {
        width: 73%;
    }
    section.footer-area {
        margin: 43px 0 33px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {


    ul.main-nav li {
        margin-right: 22px;
    }
    .slider {
        margin: 10px 0 61px;
    }
    img.football-kick {
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .single-profile img {
        width: 100%;
    }
    section.player-profile {
        margin: 40px 0 70px;
    }
    .p-profile-details-block {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    section.joursey-area {
        margin: 0 0 50px;
    }
    .joursey-items {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 23px;
    }
    img.joursey-img {
        width: 100%;
    }
    .clients {
        margin: 30px 0 30px;
    }
    section.footer-area {
        margin: 59px 0 37px;
    }

}